html, body {
    margin: 0;
} 

#my_photo {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: fit-content;
}

#my_name {
    font-size: 350%;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    font-family: sans-serif;
}

#container {
    height: 100%;
    top: 0;
}

#content {
    padding-bottom: 40px;
}

body {
    color: #538f58;
    background: #333945;
}

body img {
   border-radius: 30px;
   margin-top: 150px;
}

h2 {
    font-size: 200%;
    text-align: center;
    font-family: sans-serif;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

span {
    margin: 30px;
    display: inline-block;
}

footer {
    position: absolute;
    color: #b6bfb8;
    font-size: 150%;
    bottom: 0;
    height: 40px;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

#border {
    border-top: 1px solid #b6bfb8;
    padding-top: 20px;
    width: 70%;
    margin: auto;
}
